/*body style*/
body{
        line-height: 31px;
        text-align: center;
        background: #dddddd;
        margin: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
    }
   *{
        box-sizing: border-box;
    }
/*Navigation bar*/    
.topNav{

        width: 100%;
        background-color: #ffffff;  
        color: #777777;
        border-bottom: 2px solid #cccccc;
        padding:10px;          
    }
        
.bigNav a{

        float: left;
        margin-left: 18%;
        font-size: 30px;    
        background-color: #4aaaa5;
        color: #ffffff;
        text-decoration: none;
        padding: 5px;
   }
   
.smallNav a{  

        text-decoration: none;
        font-size: 17px;
        color: #999999;
        padding: 10px 16px;        
    }
/*Main content Div*/   
.main_content{
        
        background: white;
        width: 960px;
        height: auto;
        margin-left: 18.5%;
        margin-top:10px;
        text-align:initial;
        padding: 10px;
    }
h2
    {
    
        text-align: left;
        color:  #4aaaa5;
        margin: 20px;
        border-bottom: 2px solid #dddddd;
    }
p   {
        margin: 10px;
    
    }
/*Profile image*/    
#bio-image
    {

        float: left;
        margin: 10px; 
        padding: 10px;
    }
/*Footer*/
footer
    {
        background: #666666;
        border-top: 2px solid #4aaaa5;
        margin-top: 20px;
        padding: 10px;    
        position: fixed; 
        left: 0 ; right: 0; bottom: 0;         
    }
/*main content in contact.html*/
.column
    {
        color: #999999;
    }

#Message,#fullname,#email
    {
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

#submit
    {
        background-color: #4aaaa5;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }
/* Main content in Profile.html*/
.portfolio-text
    {
        
        background: #4aaaa5;
        color: white;
        position: absolute;
        width: 96%;
        top: 62%;
        left: 2%;
            
    }

.portfolio-image {
    
        float: left;
        padding: 20px;
        position: relative;
        text-align: center; 
        
    }
.main_content::after 
    {
        content: "";
        clear: both;
        display:table;
    }

#submit:hover,.portfolio-text:hover
    {
        background:#0deccb;
        color: white;
        font-weight: bolder;
    }


    /*
    These rules take effect when the browser's width
    is  980px ,768px and 640px
    */

    @media screen and (max-width: 980px) {
    
        /* The main_content's width will be 600px */
        .main_content {width: 600px;}
        .portfolio-image{width: 290px;}

    }
    @media screen and (max-width: 768px) {
    
        /* The main_content's width will be 540px */
        .main_content {width: 540px;}
        .portfolio-image{width: 251px;}
        .portfolio-text{left: 10%;}
        
    }
    @media screen and (max-width: 640px) {
    
        /* The main_content's width will be 400px */
        .main_content {width:400px; margin-left: 10px;}        
        .bigNav a{float: unset;margin: 0px;width:100%;background: none;}
        #bio-image {float:unset; width:95%;}
        .bigNav{background: #4aaaa5;}
        
    }
     /*Animation*/
     .topNav {
            
        -webkit-animation-name: navColor; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: navColor;
        animation-duration: 3s;
    }
    @keyframes navColor {
        from {background-color:#ffffff;}
        to {background-color:#4aaaa5;}
    }    
    .animationImage{
            
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    .animationImage:hover{
        
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
       
    }
